<h1> Welcome to Fireflies </h1>

<h2>You just received a firefly. </h2>

<h1> ✨🌞✨</h1>

<p>For the best experiece, please open your firefly on your laptop.</p>
<a href="<%="https://www.fireflies.buzz/fireflies/#{@firefly.id}"%>">Come visit my Firefly!</a>

<p>Create your own time capsule and send it to somebody in the future.</p>
<a href="<%="https://www.fireflies.buzz"%>">Sign up here!</a>


<p>Love you all, Team Firefly</p>
