<h1> Welcome to Fireflies </h1>

<h2>Create your own time capsule and send it to somebody in the future</h2>

<h1> ✨🌞✨</h1>

<%= "https://www.fireflies.buzz/fireflies/#{@firefly.id}" %>

<a href="<%="https://www.fireflies.buzz/fireflies/#{@firefly.id}"%>">Come visit my Firefly!</a>
