.faq-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  }

  .hr-line{
    width: 60%;
    margin: auto;

  }

  .faq-page {
    /* background-color: #eee; */
    color: rgba(10, 175, 230, 1);
    cursor: pointer;
    padding: 20px 10px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}

.faq-body{
  margin: auto;
  /* text-align: center; */
 width: 50%;
 padding: auto;

}

.active,
.faq-page:hover {
    background-color: #f6f39e;
}

.faq-body {
  padding: 0 10px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.faq-page:after {
  content: '+';
  /* Unicode character for "plus" sign (+) */
  font-size: 30px;
  color: white;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}
