
.send-form-container {
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
};

h2, .firefly-date-recieve-all {
  margin-bottom: 32px;
}

.form-each {
  margin-top: 32px;
  margin-bottom: 32px;
}
