// Import page-specific CSS files here.
@import "home";
@import "message_form";

@import "show";

//body,
//html {
//  height: 100%;
//  margin: 0;
//  display: flex;
//  flex-direction: column;
//}


.hover-links:link, .hover-links:visited, .hover-links:hover, .hover-links:active {
  text-decoration:none;
  color: white;
  font-weight: 100;
}

a {
  text-decoration:none;
}

.little-thing {
  background-color: #f8ee8e;
  box-shadow: 0 0 0 0 rgb(226, 255, 82);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: pulse-red 2.5s infinite;
}

.little-thing-white {
  background-color: #f1f1ed;
  box-shadow: 0 0 0 0 rgb(230, 232, 223);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: pulse-red 2.5s infinite;
}

.create-firefly-button {
  width: 100%;
  text-align: center;
  // padding: 100px;
  min-height: 30%;
  margin-bottom: -50px;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(252, 255, 82, 0.943);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

.all-fireflies-inline {
  padding-top: 50px;
  display: flex;
  width: 700px;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  z-index: 1;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

#timeline {
  width: 800px;
  height: 15px;
  align-self: center;
  margin-top: -.55em;
  border-radius: 10px;
  animation: border-flicker 2s linear infinite;
  background: rgb(55,151,201);
  background: linear-gradient(90deg, rgba(55,151,201,1) 0%, rgba(248,224,8,0.8) 80%);
}

.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 70vh;
  flex: 1 0 auto;
}

.hover-links {
  margin-top: -1.55em;
  padding-right: 10px;
}

.date-firefly {
  position: absolute;
  top: 250px;
}

.little-thing:hover {
  animation: pulse-red 0.7s infinite;
}

.little-thing-white:hover {
  animation: pulse-red 0.7s infinite;
}



// @keyframes border-flicker {
//   0% {
//     opacity:0.1;
//     -webkit-box-shadow: 0px 0px 508px 4px rgba(16,134,232,0.73);
// -moz-box-shadow: 0px 0px 508px 4px rgba(163, 183, 199, 0.73);
// box-shadow: 0px 0px 78px 4px rgba(16,134,232,10.73);
//   }
//   2% {
//     opacity:1;
//     -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
// -moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
// box-shadow: 0px 0px 78px 4px rgba(16,134,232,10.73);
//   }
//   4% {
//     opacity:0.7;
//     -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
// -moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
// box-shadow: 0px 0px 78px 4px rgba(16,134,232,10.73);
//   }

//   18% {
//     opacity:0,6;
//     -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
// -moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
// box-shadow: 0px 0px 78px 4px rgba(16,134,232,200.73);
//   }

//   38% {
//     opacity:1;
//     -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
// -moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
// box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
//   }

//   58% {
//     opacity:0,6;
//     -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
// -moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
// box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
//   }


//   70% {
//     opacity:0.7;
//     -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
// -moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
// box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
//   }
//   100% {
//     opacity:1;
//     -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
// -moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
// box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
//   }
// }
