// Import page-specific CSS files here.
@import "home";
.hover-links:link, .hover-links:visited, .hover-links:hover, .hover-links:active {
  text-decoration:none;
  color:  rgb(201, 87, 163);
}

a {
  text-decoration:none;
}

.all-fireflies-inline {
  display: flex;
  width: 500px;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  align-content: space-around;
}

#timeline {
  width: 800px;
  height: 10px;
  align-self: center;

  background: rgb(55,151,201);
  background: linear-gradient(90deg, rgba(55,151,201,1) 0%, rgba(248,224,8,0.8) 80%);
}

.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 500px;
}
