.container-messages{
    margin: 60px auto;
    width: 650px;
}
.add-mails {
  // position: relative;
  width: 100%;
  height: fit-content;

  display: grid;
  gap: 0px 20px;
  grid-template-columns: 1fr 1fr;
  // top: 10px;
  // left: 11px;
  // border-radius: 15px;
  // box-sizing: border-box;
  // background: rgba(255, 255, 255, 0.5);
  // border: 1px solid rgba(200, 200, 200, 0.8);

  .add-mails-input {
    width: 100%;
    height: 44px;

    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;

    padding-left: 30px;
    // box-sizing: border-box;
    // background: rgba(255, 255, 255, 0.8);
    color: white;
    background: #040218da;
    border: 1px solid rgba(200, 200, 200, 0.8);
    border-radius: 8px;
  }
}

.show-wrapper{
  margin-top: 20px;
  width: 30%;
  // height: 351px;
  box-sizing: border-box;
  text-align: center;
  // background: rgba(255, 255, 255, 0.8);
  // border: 1px solid rgba(255, 255, 255, 0.8);
  // border-radius: 15px;
}

.show-container-input{
  width: 726px;
  height: 331px;
  top: 10px;
  left: 11px;
  border-radius: 8px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.8);
}

#message_letter {
  background: transparent;
  height: 200px;
  color: white;
  padding: 30px;
  border-radius: 8px;
}

.media-wrapper{
  margin-top: 8px;
}

.row-message {
  overflow: auto;
  padding: 0;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // flex-direction: column;
  // justify-content: flex-end;
}

.form-actions-wrapper{
  flex-direction: flex-end;
}

.messages-cont {
  overflow: auto;
}

#add-mails-btn {
  align-items: center;
  text-align: center;
  // width: 45px;
  // height: 45px;
  // background: #003152;
  padding: 9px;
  // border-radius: 15px;
  // border-radius: 50px 0px 0px 50px;
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  color: #FFFFFF;
  transition: opacity 0.3s ease;

  // border-radius: 50%;
  // border: 1px solid rgba(255, 255, 255, 0.8);
}

.all-btns-container {
  display: flex;
  justify-content: space-between;
}

//.media-wrapper input {
//  background: rgba(255, 255, 255, 0.5);
//  border: 1px solid rgba(255, 255, 255, 0.8);
//}

.img-btn{
  height: 50px;
  justify-content: space-between;
}

.btn-back-timeline {
  display: flex;
  justify-content: center;
}
