.container-messages{
    margin: 60px auto;
    width: 650px;
}
.add-mails {
  // margin: 10px;
  // position: relative;
  width: 100%;
  height: 44px;
  margin-bottom: 10px;
  // box-sizing: border-box;
  // background: rgba(255, 255, 255, 0.8);
  background: #040218da;
  border: 1px solid rgba(200, 200, 200, 0.8);
  border-radius: 15px;

  .add-mails-input {
    // position: relative;
    width: 100%;
    height: 44px;
    // top: 10px;
    // left: 11px;
    border-radius: 15px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(200, 200, 200, 0.8);
  }
}

.show-wrapper{
  margin-top: 20px;
  width: 30%;
  // height: 351px;
  box-sizing: border-box;
  text-align: center;
  // background: rgba(255, 255, 255, 0.8);
  // border: 1px solid rgba(255, 255, 255, 0.8);
  // border-radius: 15px;
}

.show-container-input{
  width: 726px;
  height: 331px;
  top: 10px;
  left: 11px;
  border-radius: 15px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.media-wrapper{
  // margin-top: 30px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
  // border-radius: 15px;
}

#add-mails-btn {
  align-items: center;
  text-align: center;
  width: 45px;
  height: 45px;
  background: #003152;
  padding: 9px;
  border-radius: 15px;
  // border-radius: 50px 0px 0px 50px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  transition: opacity 0.3s ease;

  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

//.media-wrapper input {
//  background: rgba(255, 255, 255, 0.5);
//  border: 1px solid rgba(255, 255, 255, 0.8);
//}

.img-btn{
  height: 50px;
  justify-content: space-between;
}

.btn-back-timeline {
  display: flex;
  justify-content: center;
}
