.page-container {
  margin: 64px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

////////////////////////

.show-container-outside {
  width: 61vw;
  height: 41vw;

  border: 15px;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  left: 0%;
  right: 0.13%;
  top: 0%;
  bottom: 88.75%;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}

.show-container-inside {
  width: 60vw;
  height: 40vw;

  top: 10px;
  left: 11px;
  border-radius: 15px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.show-container-info-grid {
  display: grid;
  padding: 10px;
  grid-gap: 10px;

  width: 100%;
  height: 100%;
  // align-items: center;
  // text-align: center;
}

.row {
  overflow: auto;
}

.show-grid-txt {
  padding-top: 5px;
  overflow: scroll;
  align-items: stretch;
}

.show-grid-vid {
  align-items: stretch;

  border-radius: 15px;
  top: 50%;
  right: 50%
}

.show-grid-img {
  // flex-grow: 1;
  // object-fit: cover;
  align-items: stretch;

  border-radius: 15px;
  top: 50%;
  right: 50%
}

.show-grid-aud {

}

////////////////////////

.show-sender-container {
  display: flex;
  justify-content: center;
}

.show-btn-container {
  display: flex;
  justify-content: center;
}
