.page-container {
  width: 960px;
  margin: 64px auto;
  text-align: center;
}
.show-container {
  width: 746px;
  height: 64px;
  border: 15px;
  box-sizing: border-box;
  text-align: center;
  left: 0%;
  right: 0.13%;
  top: 0%;
  bottom: 88.75%;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}

.show-container-input {
  width: 726px;
  height: 44px;
  top: 10px;
  left: 11px;
  border-radius: 15px;
  box-sizing: border-box;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.8);
}
