<a class="cta-yellow" href="#"></a>
<a class="cta-white" href="#"></a>
<a class="button-blue" href="#"></a>
<a class="btn-white" href="#"></a>
<a class="btn-form-blue" href="#"></a>
<a class="btn-form-white" href="#"></a>