<div class="container-card">
  <div class="card">
     <div class="card__image-container">
       <img class="card__image" src="https://images.unsplash.com/photo-1520453803296-c39eabe2dab4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHNpZ24lMjB1cHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" alt="Sign up" height="130%">
    </div>

      <svg class="card__svg" viewBox="0 0 800 500">

        <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="rgb(248,224,8)"/>
        <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
      </svg>

     <div class="card__content">
       <h1 class="card__title">Step 1</h1>
     <p>Sign up with your email and your name and get started.</p>
    </div>
  </div>
  <div class="card">
     <div class="card__image-container">
       <img class="card__image" src="https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d3JpdGV8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" alt="Write" height="140%">
    </div>

      <svg class="card__svg" viewBox="0 0 800 500">

        <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="rgb(248,224,8)"/>
        <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
      </svg>

     <div class="card__content">
       <h1 class="card__title">Step 2</h1>
     <p>Write your message and send it to loved ones in the future.</p>
    </div>
  </div>
  <div class="card">
     <div class="card__image-container">
       <img class="card__image" src="https://images.unsplash.com/photo-1543269865-0a740d43b90c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fHNtaWxpbmclMjB3aXRoJTIwY29tcHV0ZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" alt="Receive" height="140%">
    </div>

      <svg class="card__svg" viewBox="0 0 800 500">

        <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="rgb(248,224,8)"/>
        <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
      </svg>

     <div class="card__content">
       <h1 class="card__title">Step 3</h1>
     <p> Receive messages easily and store them forever.</p>
    </div>
  </div>
</div>
