<div class="footer-container">
<div class="footer">
  <div class="footer-links">
    <a class="facebook" href="#"> <i class="fa-brands fa-facebook-f fa-xl"></i></a>
    <a class="instagram" href="#"> <i class="fa-brands fa-instagram fa-2x"></i></a>
  </div>
  <div>
    This footer is made by Fireflies
  </div>
</div>
</div>
