<h2 class="faq-heading"> Frequently Asked Questions</h2>
        <section class="faq-container">
            <div class="faq-one">
                <h4 class="faq-page">What is a firefly?</h4>
                <div class="faq-body">
                    <p>It is message(letter, video, image or just meaningfull song) that you can send on the specific time in the future. </p>
                </div>
            </div>
            <hr class="hr-line">
            <div class="faq-two">
                <h4 class="faq-page">Why send a firefly to your future self? </h4>
                <div class="faq-body">
                    <p>  To communicate with ones future self. Sometimes, people might want to write a letter to their future self to remind themselves of their goals, aspirations, or current struggles. This can serve as a form of self-reflection and can help them gain perspective on their life.</p>
                </div>
            </div>
            <hr class="hr-line">
            <div class="faq-three">
<h4 class="faq-page">Why send a firefly to your loved one?</h4>
                <div class="faq-body">
                    <p>  To create a special memory. <br>
Writing a letter to the loved one in the future can be a way to create a special memory that you can both look back on and cherish.</p>
                      <p> To express your love and gratitude. <br>
Writing a letter to the loved one in the future can be a way to express your love and gratitude for them in a way that is thoughtful and heartfelt.
</p>
                </div>
            </div>
            <hr class="hr-line">
             <div class="faq-three">
<h4 class="faq-page">How do fireflies work?</h4>
                <div class="faq-body">
                    <p>Ones a firefly sent it will be output on the  timeline but one can not see its content  until time comes.
 If somebody send a firefly to somebody else he will receive a duplicate of the same firefly at exact same time as the other person.</p>
                </div>
            </div>
                     <hr class="hr-line">
             <div class="faq-three">
<h4 class="faq-page">For whom can I send a firefly?</h4>
                <div class="faq-body">
                    <p>Firefly can be send for any person. All you need to know is their email. It does not matter if the person is a registered user of fireflies or not. Firefly will reach them anyway.</p>
                </div>
            </div>
            <hr class="hr-line">
             <div class="faq-three">
<h4 class="faq-page">What firefly can contain?</h4>
                <div class="faq-body">
                    <p>It can be just a meaningful letter. You can add to it an image or a video-message. Adding an audio-track can be a nice touch.</p>
                </div>
            </div>
        </section>
    </main>
    <script src="main.js"></script>

<%= link_to "Create a firefly", new_message_path, class: "btn-white"%>
