<div class="big-container">
  <%# <h2 class="faq-heading"> FAQ</h2> %>
          <section class="faq-container">
              <div class="faq-one">
                  <h5 class="faq-page">What is a Firefly?</h5>
                  <div class="faq-body">

                      <p>It is message (letter, video, image or just meaningful song) that you can send on the specific time in the future. </p>

                  </div>
              </div>
              <hr class="hr-line">
              <div class="faq-two">
                  <h5 class="faq-page">Why send a Firefly to your future self? </h5>
                  <div class="faq-body">
                      <p>  To communicate with ones future self. Sometimes, people might want to write a letter to their future self to remind themselves of their goals, aspirations, or current struggles. This can serve as a form of self-reflection and can help them gain perspective on their life.</p>
                  </div>
              </div>
              <hr class="hr-line">
              <div class="faq-three">
              <h5 class="faq-page">Why send a Firefly to your loved one?</h5>
                  <div class="faq-body">
                      <p> To create a special memory. <br>
                        Writing a letter to the loved one in the future can be a way to create a special memory that you can both look back on and cherish.</p>
                        <p> To express your love and gratitude. <br>
                        Writing a letter to the loved one in the future can be a way to express your love and gratitude for them in a way that is thoughtful and heartfelt.
                      </p>
                  </div>
              </div>
              <hr class="hr-line">
              <div class="faq-three">
                <h5 class="faq-page">How does Fireflies work?</h5>
                  <div class="faq-body">
                      <p>Once a Firefly is sent it will be displayed on the timeline but one can not see its content until the date comes.
                        When someone sends a Firefly to somebody else they will receive a duplicate of the Firefly at the exact same time as the other person.</p>
                  </div>
              </div>
                      <hr class="hr-line">
              <div class="faq-three">
                <h5 class="faq-page">Whom can I send a Firefly to?</h5>
                  <div class="faq-body">
                      <p>A firefly can be sent to any person. All you need to know is their e-mail address. It does not matter if the person is a registered user of Fireflies or not. Firefly will reach them regardless.</p>
                  </div>
              </div>
              <hr class="hr-line">
              <div class="faq-three">
                <h5 class="faq-page">What can a Firefly contain?</h5>
                  <div class="faq-body">
                      <p>It can be a meaningful letter. You can add an image or a video-message. Adding an audio-track can be a nice touch as well.</p>
                  </div>
              </div>
          </section>
      </main>
  <div class="buttons-about">
    <%= link_to "CREATE FIREFLY", new_message_path, class: "btn-white"%>
    <%= link_to "MY TIMELINE", timeline_path, class: "btn-white"%>
  </div>
</div>
