<h1>My timeline</h1>

  <% @fireflies.each do |firefly| %>
    <p><%= if firefly.date_recieve >= Date.today
           link_to "#{firefly.date_recieve}", firefly_path(firefly)
           else
           link_to "#{firefly.date_recieve}"
           end
           %></p>
  <% end %>

<%= link_to "Create a firefly", new_message_path%>
