<h1>My timeline</h1>
  <% @fireflies.each do |firefly| %>
     <div class="item" style="width: max-content;" >
    <div class="hover-links">
      <%= if firefly.date_recieve <= Date.today
            link_to "FIREFLY", firefly_path(firefly)
          else
           link_to "FIREFLY"
          end
           %>
       <div style="display: none;">
        <%= firefly.date_recieve.strftime('%d %b %Y') %>
       </div>
    </div>
  </div>
  <% end %>
</div>

<div><%= cl_image_tag("wdtoavcehrohzean4hln",
      width: 400, height: 300, crop: :fill) %>
</div>

<%= link_to "Create a firefly", new_message_path%>
