<% if current_user %>
<h1>My timeline</h1>
  <% @fireflies.each do |firefly| %>
     <div class="item" style="width: max-content;" >
      <div class="hover-links">
      <%= if firefly.date_recieve <= Date.today
            link_to "FIREFLY", firefly_path(firefly)
          else
           link_to "#{firefly.date_recieve}"
          end
           %>
       <div style="display: none;">
        <%= firefly.date_recieve.strftime('%d %b %Y') %>
       </div>
      </div>
     </div>
  <% end %>

<%= link_to "Create a firefly", new_message_path%>
<% else %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static.boredpanda.com/blog/wp-content/uploads/2016/07/fireflies-long-exposure-photography-2016-japan-10.jpg); height=200px;">
  <div class="container">
    <h1><strong>Way to connect through time !</strong></h1>
    <div class="cta-white">
    <a href="#">SIGN UP</a>
    </div>
  </div>
</div>
<% end %>
