<%# <div style="height: 500px;"> %>
<div class="all">
<div class="all-fireflies-inline">

  <% @fireflies.each do |firefly| %>
    <div class="item" style="width: max-content;" >
      <div class="hover-links">
             <div class="date-firefly position-absolute" style="display: none;">
        <%= firefly.date_recieve.strftime('%d %b %Y') %>
      </div>
        <%= if firefly.date_recieve <= Date.today
              link_to "FIREFLY", firefly_path(firefly)
            else
              link_to "FIREFLY"
            end
        %>
        <div class="little-thing"></div>

    </div>
  </div>
  <% end %>
  </div>
    <div id="timeline">
  </div>
</div>
<%= link_to "Create a firefly", new_message_path%>

<%# </div> %>
