.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 56px;
  font-weight: bold;
  font-family: Open Sans;
  margin-bottom: 56px;
}


.cta-white a {
  color: #09578C;
  text-decoration: none;
  font-size: 18px;
  margin: 0 auto;
  text-transform: uppercase;
}

.container-banner {
  width: 520px;
  margin: 0 auto;
  text-align: center;
}

.cta-white:hover {
  background-color:rgb(248,224,8);
}
