//cta = call to action button (big yellow)

.cta-yellow{
  width: 204px;
  height: 42px;
  background: linear-gradient(95.89deg, #ECE65E 31.27%, rgba(248, 224, 8, 0.9) 104.84%);
  border-radius: 39px;
  font-family: "Open Sans", Helvetica, Arial, Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #05031D;
}
.cta-white{
  position: absolute;
  width: 146px;
  height: 42px;
  background: #FFFFFF;
  border: 1px solid rgba(248, 224, 8, 0.5);
  box-shadow: 2px 2px 10px rgba(248, 224, 8, 0.5);
  border-radius: 39px;
  font-family: "Open Sans", Helvetica, Arial, Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  color: #09578C;
}

.button-blue{
   position: absolute;
   width: 146px;
   height: 42px;
   background: #004B7D;
   border-radius: 39px;
   position: center;
   font-family: "Open Sans", Helvetica, Arial, Sans-Serif;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 25px;
   align-items: center;
   text-align: center;
   color: #FFFFFF;
 }

.btn-white{
  position: absolut;
  width: 142px;
  height: 42px;
  background: #FFFFFF;
  border: 3px solid #004B7D;
  border-radius: 55px;
  text-align: center;
  font-family: "Open Sans", Helvetica, Arial, Sans-Serif;
  font-style: bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  align-items: center;
  color: #004B7D;
}

.btn-form-blue{
  position: absolute;
  width: 146px;
  height: 44px;
  background: #004B7D;
  padding: 8px 24px;
  border-radius: 50px 0px 0px 50px;
  font-family: "Open Sans", Helvetica, Arial, Sans-Serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  transition: opacity 0.3s ease;
  align-items: center;
  text-align: center;
}


.btn-form-white{
  position: absolute;
  width: 146px;
  height: 44px;
  background: #FFFFFF;
  border: 2px solid #004B7D;
  padding: 8px 24px;
  border-radius: 50px 0px 0px 50px;
  font-family: "Open Sans", Helvetica, Arial, Sans-Serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #004B7D;
  transition: opacity 0.3s ease;
  align-items: center;
  text-align: center;
}