.footer-container {
  width: 1240px;
  margin: 0 auto;
  position: center;
}

.footer {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(245, 245, 245);
  font-family: Open Sans;
  margin-bottom: 24px;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: rgb(245, 245, 245) !important;
  text-decoration: none;
  margin-right: 16px;
}

.instagram :hover {
  color: rgb(184, 0, 184);
}

.facebook :hover {
  color: #3B5793;
}
